/* -- style.css -- */
div.karma
{
	background-color: transparent;
	text-align: center;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	padding: 10px;
}

span.digest
{
}

body {
	behavior:url("include/newbb.htc");
}
img {
	behavior:url("include/pngbehavior.htc");
}

li.newbb_folder,.newbb_link {
	display:block;
	margin:0;
	padding:0;
	border:0;
}

ul.newbb_level1, ul.newbb_level2, ul.newbb_level3 {
	display:block;
	margin:0;
	padding:0;
	border:0;
	width:160px;             /* Width of the Dropdownmenu Title and Menu themself */
	border:0px;
	background:#2F5376;      /* Main Background of the Menu Folder */
	list-style:none;
}

li.newbb_folder {
	position:relative;
	padding:1px;
	padding-left:10px;
	background-color:#2F5376; 	/* background of the Dropdownmenu Title  */
	border: 1px solid #2F5376; 	/* Must be the same color as above */
	color:white;               	/* Textcolor of the Dropdownmenu Title */
	z-index:9;	
	list-style:none;
}


li.newbb_folder:hover { z-index:10;}
li.newbb_folder ul {
	position:absolute;
	display:none;
	left:-56px; /* IE */
	top:13px;
}
li.newbb_folder>ul { left:-1px; top: 16px}

ul.newbb_level1 {z-index:1} li.newbb_folder:hover ul.newbb_level2,
ul.newbb_level2 li.newbb_folder:hover ul.newbb_level3 {
	display:block;
}

.newbb_link {
	border: 0px;
	padding: 2px;
	text-decoration: none;
	color: white		 /* Normal Color of the Links */ 
	!important;
	font-weight: bold;
	width: 100%; /* IE */
	text-align: left;
}
li>.newbb_link { width:auto; }

li link.newbb_submenu {
		
		background-color:#2F5376;  /* Background of the Links in the Menu */
}

.newbb_link:hover {
	border:0px;
	color:orange  		/* Hover Color of the Links */
	!important;
}	
li.newbb_folder .newbb_link:hover {
}

div.signature {
	
	bottom: 10px;
}
