<div class="resultMsg"> <{$search_info}> </div>
<br />
<{if $results}>

<div>
<table width="100%" cellpadding="0" cellspacing="0">
        <tr class="head" style="text-align: center;">
          <td style="padding: 3px;"><{$smarty.const._MD_FORUMC}></td>
          <td style="padding: 3px;"><{$smarty.const._MD_SUBJECT}></td>
          <td style="padding: 3px;"><{$smarty.const._MD_AUTHOR}></td>
          <td  style="padding: 3px;" class="nowrap"><{$smarty.const._MD_POSTTIME}></td>
        </tr>
        <!-- start search results -->
<{section name=i loop=$results}>
        <!-- start each result -->
        <tr style="text-align: center;" class="<{cycle values="even,odd"}>">
          <td><a href="<{$results[i].forum_link}>"><{$results[i].forum_name}></a></td>
          <td align="<{$smarty.const._GLOBAL_LEFT}>"><a href="<{$results[i].link}>"><{$results[i].title}></a></td>
          <td><{$results[i].poster}></td>
          <td><{$results[i].post_time}></td>
        </tr>
        <!-- end each result -->
<{/section}>
        <!-- end search results -->
      </table>

<{if $search_next or $search_prev}>
<div class="foot">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr class="head">
		<td align="<{$smarty.const._GLOBAL_LEFT}>" style="width:50%;padding:3px;"><{$search_prev}> </td>
		<td align="<{$smarty.const._GLOBAL_RIGHT}>" style="width:50%;padding:3px;"> <{$search_next}></td>
	</tr>
</table>
</div>
<{/if}>
</div>
<div class="clear"></div>
<br />
<{elseif $lang_nomatch}>
<div class="resultMsg"> <{$lang_nomatch}> </div>
<br />
<{/if}>