<div style="margin-bottom:15px;">
	<div style="background:url('images/forum-navi-start.png') no-repeat scroll left center transparent;display:inline;font-weight:normal;height:18px;line-height:18px;padding:1px 3px 1px 22px;"><a href="<{$icms_url}>/modules/<{$icms_dirname}>/index.php"><{$forumindex}></a></div>
	<div style="background:url('images/forum-navi-sub.png') no-repeat scroll left center transparent;height:18px;line-height:18px;padding:1px 5px 1px 37px;"><a href="search.php"><{$smarty.const._SR_SEARCH}></a></div>
</div>
<div class="clear"></div>

<{if $search_info}>
<{include file="db:iforum_searchresults.html" results=$results}>
<{/if}>
<form class="Search" action="search.php" method="get">
<div class="outer">
<table width="100%">
          <tr>
            <td class="head" style="width: 10%; text-align: <{$smarty.const._GLOBAL_LEFT}>;"><strong><{$smarty.const._SR_KEYWORDS}></strong>&nbsp;</td>
            <td class="even"><input type="text" name="term" /></td>
          </tr>
          <tr>
            <td class="head" style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><strong><{$smarty.const._SR_TYPE}></strong>&nbsp;</td>
            <td class="even">
	            <select name="andor">
	            <option value="any" selected="selected"><{$smarty.const._SR_ANY}></option>
	            <option value="all"><{$smarty.const._SR_ALL}></option>
	            <option value="exact"><{$smarty.const._SR_EXACT}></option>
	            </select>
            </td>
          </tr>
          <tr>
            <td class="head" style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><strong><{$smarty.const._MD_FORUMC}></strong>&nbsp;</td>
            <td class="even"><{$forum_selection_box}></td>
          </tr>
          <tr>
            <td class="head" style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><strong><{$smarty.const._SR_SEARCHIN}></strong>&nbsp;</td>
            <td class="even"><input type="radio" name="searchin" value="title" /><{$smarty.const._MD_SUBJECT}>&nbsp;&nbsp;
              <input type="radio" name="searchin" value="text" /><{$smarty.const._MD_BODY}>&nbsp;&nbsp;
              <input type="radio" name="searchin" value="both" checked="checked" /><{$smarty.const._MD_SUBJECT}> &amp; <{$smarty.const._MD_BODY}>&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td class="head" style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><strong><{$smarty.const._MD_AUTHOR}></strong>&nbsp;</td>
            <td class="even"><input type="text" name="uname" value="" /></td>
          </tr>
          <tr>
            <td class="head" style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><strong><{$smarty.const._MD_SORTBY}></strong>&nbsp;</td>
            <td class="even">
            	<select name="sortby">
            	<option value="p.post_time desc" selected="selected"><{$smarty.const._MD_DATE}></option>
              	<option value="t.topic_title"><{$smarty.const._MD_TOPIC}></option>
              	<option value="f.forum_name"><{$smarty.const._MD_FORUM}></option>
              	<option value="u.uname"><{$smarty.const._MD_USERNAME}></option>
              	</select>
          	</td>
          </tr>
          <tr>
            <td class="head" style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><strong><{$smarty.const._MD_SINCE}></strong>&nbsp;</td>
            <td class="even"><{$since_selection_box}></td>
          </tr>
          <{if $search_rule}>
          <tr>
            <td class="head" style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><strong><{$smarty.const._SR_SEARCHRULE}></strong>&nbsp;</td>
            <td class="even"><{$search_rule}></td>
          </tr>
          <{/if}>
          <tr>
            <td class="head" style="text-align: <{$smarty.const._GLOBAL_LEFT}>;">&nbsp;</td>
            <td class="even"><input type="submit" name="submit" value="<{$smarty.const._MD_SEARCH}>" /></td>
	  </tr>
        </table>
</div>
</form>
<!-- end module contents -->