BODY {
	FONT-FAMILY: Verdana,arial,helvetica,sans-serif;
	font-size: 0.9em;
	margin-right: 50px;
}

EM {
}

UL {
  MARGIN-TOP: 10pt
}

OL {
  MARGIN-TOP: 10pt
}

PRE {
  FONT-FAMILY: "andale mono", "monotype.com", "courier new", monospace; 
}

A.NAV {
  COLOR: #000066; TEXT-DECORATION: none; FONT-WEIGHT: bold
}

a:HOVER {
	color: red;
}

H1 {
  COLOR: #000066; 
  FONT-SIZE: 1.8em; 
  FONT-WEIGHT: bold; 
  MARGIN-BOTTOM: 5pt
}

H2 {
  COLOR: #000066; 
  FONT-FAMILY: tahoma,arial,helvetica,sans-serif; 
  FONT-SIZE: 1.5em; 
  FONT-WEIGHT: bold; 
  MARGIN-BOTTOM: 5pt
}

H3 {
	COLOR: #000066; 
	FONT-SIZE: 1.2em; 
	FONT-WEIGHT: bold; 
	MARGIN-BOTTOM: 0pt;
	margin-top: 2pt; 
}

H3 {
	FONT-SIZE: 1em; 
	FONT-WEIGHT: bold; 
	MARGIN-BOTTOM: 5pt
}
SMALL {
  FONT-SIZE: 0.7em
}

.logo {
float: left;
padding-left:10px;
border:none;
}
.stitre
{
	border-bottom-style: dotted;
	border-bottom-width: -1px;
	border-bottom-color: Gray;
}
p {
  text-align: justify;
}
p.question {
	line-height: 1em;
}

