<div><a href="<{$icms_url}>/modules/<{$icms_dirname}>/index.php"><{$lang_forum_index}></a> >
<{if $parent_forum}>
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewforum.php?forum=<{$parent_forum}>"><{$parent_name}></a> >
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewforum.php?forum=<{$forum_id}>"><{$forum_name}></a> >
<{elseif $forum_name}>
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewforum.php?forum=<{$forum_id}>"><{$forum_name}></a> >
<{/if}>
<{$lang_title}></div>
<div class="clear"></div>
<br /><br />

<a id="threadtop"></a>

<div class="forum_controls">
<div id="forum_pagenav_top" style="float: <{$smarty.const._GLOBAL_LEFT}>; text-align: <{$smarty.const._GLOBAL_LEFT}>;">
<{$forum_pagenav}>
</div>
<div class="dropdown">
	<select
		name="topicoption" id="topicoption"
		onchange="if(this.options[this.selectedIndex].value.length >0 )	{ window.document.location=this.options[this.selectedIndex].value;}">
		<option value=""><{$smarty.const._MD_TOPICOPTION}></option>
		<option value="<{$newpost_link}>"><{$smarty.const._MD_VIEW}>&nbsp;<{$smarty.const._MD_NEWPOSTS}></option>
		<option value="<{$all_link}>"><{$smarty.const._MD_VIEW}>&nbsp;<{$smarty.const._MD_ALL}></option>
		<option value="<{$digest_link}>"><{$smarty.const._MD_VIEW}>&nbsp;<{$smarty.const._MD_DIGEST}></option>
		<option value="<{$unreplied_link}>"><{$smarty.const._MD_VIEW}>&nbsp;<{$smarty.const._MD_UNREPLIED}></option>
		<option value="<{$unread_link}>"><{$smarty.const._MD_VIEW}>&nbsp;<{$smarty.const._MD_UNREAD}></option>
	</select>

	<select
		name="viewmode" id="viewmode"
		onchange="if(this.options[this.selectedIndex].value.length >0 )	{ window.document.location=this.options[this.selectedIndex].value;}">
		<option value=""><{$smarty.const._MD_VIEWMODE}></option>
		<{foreach item=act from=$viewmode_options}>
		<option value="<{$act.link}>"><{$act.title}></option>
		<{/foreach}>
	</select>
</div>
<div class="clear"></div>
</div>

<{if $mode gt 1}>
<form name="form_posts_admin" action="action.post.php" method="POST" onsubmit="javascript: if(window.document.forum_posts_admin.op.value &lt; 1){return false;}">
<{/if}>

<{foreach item=post from=$posts}>
<{if $viewmode_compact}>
<{include file="$iforum_template_path/iforum_item.html" topic_post=$post}>
<{elseif $viewmode_left}>
<{include file="$iforum_template_path/iforum_left.html" topic_post=$post}>
<{elseif $viewmode_right}>
<{include file="$iforum_template_path/iforum_right.html" topic_post=$post}>
<{else}>
<{include file="$iforum_template_path/iforum_thread.html" topic_post=$post mode=$mode}>
<{/if}>
<div style="float: <{$smarty.const._GLOBAL_RIGHT}>; text-align: <{$smarty.const._GLOBAL_RIGHT}>; padding: 5px;">
<a href="viewtopic.php?topic_id=<{$post.topic_id}>"><strong><{$smarty.const._MD_VIEWTOPIC}></strong></a>
<{if !$forum_name }>
 | <a href="viewforum.php?forum=<{$post.forum_id}>"><strong><{$smarty.const._MD_VIEWFORUM}></strong></a>
<{/if}>
</div>
<div class="clear"></div>
<br />
<br />
<{/foreach}>

<{if $viewer_level gt 1}>
<div style="float: <{$smarty.const._GLOBAL_RIGHT}>; text-align: <{$smarty.const._GLOBAL_RIGHT}>;" id="admin">
<{if $mode gt 1}>
<{$smarty.const._ALL}>: <input type="checkbox" name="post_check" id="post_check" value="1" onclick="xoopsCheckAll('form_posts_admin', 'post_check');" /> 
<select name="op">
	<option value="0"><{$smarty.const._SELECT}></option>
	<option value="delete"><{$smarty.const._DELETE}></option>
	<{if $type eq "pending"}>
		<option value="approve"><{$smarty.const._MD_APPROVE}></option>
	<{elseif $type eq "deleted"}>
		<option value="restore"><{$smarty.const._MD_RESTORE}></option>
	<{/if}>
</select>
<input type="hidden" name="uid" value="<{$uid}>" /> | 
<input type="submit" name="submit" value="<{$smarty.const._SUBMIT}>" /> | 
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewpost.php?uid=<{$uid}>&amp;mode=1#admin" target="_self" title="<{$smarty.const._MD_TYPE_ADMIN}>"><{$smarty.const._MD_TYPE_ADMIN}></a>
</form>
<{elseif $mode eq 1}>
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewpost.php?uid=<{$uid}>&amp;type=active#admin" target="_self" title="<{$smarty.const._MD_TYPE_ADMIN}>"><{$smarty.const._MD_TYPE_ADMIN}></a> | 
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewpost.php?uid=<{$uid}>&amp;type=pending#admin" target="_self" title="<{$smarty.const._MD_TYPE_PENDING}>"><{$smarty.const._MD_TYPE_PENDING}></a> | 
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewpost.php?uid=<{$uid}>&amp;type=deleted#admin" target="_self" title="<{$smarty.const._MD_TYPE_DELETED}>"><{$smarty.const._MD_TYPE_DELETED}></a> | 
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewpost.php?uid=<{$uid}>" target="_self" title="<{$smarty.const._MD_TYPE_VIEW}>"><{$smarty.const._MD_TYPE_VIEW}></a>
<{else}>
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewpost.php?uid=<{$uid}>&amp;mode=1#admin" target="_self" title="<{$smarty.const._MD_TYPE_ADMIN}>"><{$smarty.const._MD_TYPE_ADMIN}></a>
<{/if}>
</div>
<{/if}>
<div class="clear"></div>

<br />
<div>
<div style="float: <{$smarty.const._GLOBAL_LEFT}>; text-align: <{$smarty.const._GLOBAL_LEFT}>;">
	<a id="threadbottom"></a><{$up}>&nbsp;<a href="#threadtop"><{$smarty.const._MD_TOP}></a>
</div>
<div style="float: <{$smarty.const._GLOBAL_RIGHT}>; text-align: <{$smarty.const._GLOBAL_RIGHT}>;">
<{$pagenav}>
</div>
</div>
<div class="clear"></div>

<br />
<br />
<div>
<div style="float: <{$smarty.const._GLOBAL_LEFT}>; text-align: <{$smarty.const._GLOBAL_LEFT}>;">
<form action="search.php" method="get"><div>
<input name="term" id="term" type="text" size="15" />
<input type="hidden" name="sortby" id="sortby" value="p.post_time desc" />
<input type="hidden" name="action" id="action" value="yes" />
<input type="hidden" name="searchin" id="searchin" value="both" />
<input type="submit" class="formButton" value="<{$smarty.const._MD_SEARCH}>" /><br />
[<a href="<{$icms_url}>/modules/<{$icms_dirname}>/search.php"><{$smarty.const._MD_ADVSEARCH}></a>]</div>
</form>
</div>
<div style="float: <{$smarty.const._GLOBAL_RIGHT}>; text-align: <{$smarty.const._GLOBAL_RIGHT}>;">
<{$forum_jumpbox}>
</div>
</div>
<div class="clear"></div>

<br />
<br />

<{if $online}><{include file="db:iforum_online.html"}><{/if}>
<!-- end module contents -->