<div><a href="<{$icms_url}>/modules/<{$icms_dirname}>/index.php"><{$forum_index_title}></a> > &nbsp;<a href="<{$current_link}>"><{$current_type}></a></div>


<{if $mode gt 1}>
<form name="form_topics_admin" action="action.topic.php" method="POST" onsubmit="javascript: if(window.document.form_topics_admin.op.value &lt; 1){return false;}">
<{/if}>

<{if $viewer_level gt 1}>
<div style="padding: 5px;float: <{$smarty.const._GLOBAL_RIGHT}>; text-align: <{$smarty.const._GLOBAL_RIGHT}>;" id="admin">
<{if $mode gt 1}>
<{$smarty.const._ALL}>: <input type="checkbox" name="topic_check1" id="topic_check1" value="1" onclick="xoopsCheckAll('form_topics_admin', 'topic_check1');" /> 
<select name="op">
	<option value="0"><{$smarty.const._SELECT}></option>
	<option value="delete"><{$smarty.const._DELETE}></option>
	<{if $type eq "pending"}>
		<option value="approve"><{$smarty.const._MD_APPROVE}></option>
		<option value="move"><{$smarty.const._MD_MOVE}></option>
	<{elseif $type eq "deleted"}>
		<option value="restore"><{$smarty.const._MD_RESTORE}></option>
	<{else}>
		<option value="move"><{$smarty.const._MD_MOVE}></option>
	<{/if}>
</select>  
<input type="hidden" name="forum_id" value="<{$forum_id}>" />
<input type="submit" name="submit" value="<{$smarty.const._SUBMIT}>" /> | 
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewall.php?mode=1#admin" target="_self" title="<{$smarty.const._MD_TYPE_ADMIN}>"><{$smarty.const._MD_TYPE_ADMIN}></a>
<{elseif $mode eq 1}>
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewall.php?type=active#admin" target="_self" title="<{$smarty.const._MD_TYPE_ADMIN}>"><{$smarty.const._MD_TYPE_ADMIN}></a> | 
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewall.php?type=pending#admin" target="_self" title="<{$smarty.const._MD_TYPE_PENDING}>"><{$smarty.const._MD_TYPE_PENDING}></a> | 
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewall.php?type=deleted#admin" target="_self" title="<{$smarty.const._MD_TYPE_DELETED}>"><{$smarty.const._MD_TYPE_DELETED}></a> | 
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/moderate.php" target="_self" title="<{$smarty.const._MD_TYPE_SUSPEND}>"><{$smarty.const._MD_TYPE_SUSPEND}></a>
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewall.php?mode=0" target="_self" title="<{$smarty.const._MD_TYPE_VIEW}>"><{$smarty.const._MD_TYPE_VIEW}></a> 
<{else}>
<a href="<{$icms_url}>/modules/<{$icms_dirname}>/viewall.php?mode=1#admin" target="_self" title="<{$smarty.const._MD_TYPE_ADMIN}>"><{$smarty.const._MD_TYPE_ADMIN}></a>
<{/if}>
</div>
<br />
<{else}>
<br />
<{/if}>
<div class="clear"></div>

<div class="forum_controls">
<div id="forum_pagenav_top" style="float: <{$smarty.const._GLOBAL_LEFT}>; text-align: <{$smarty.const._GLOBAL_LEFT}>;">
<{$forum_pagenav}>
</div>
<div class="dropdown">
	<select
		name="topicoption" id="topicoption"
		onchange="javascript: if(this.options[this.selectedIndex].value.length >0 )	{ window.document.location=this.options[this.selectedIndex].value;}">
		<option value=""><{$smarty.const._MD_TOPICOPTION}></option>
		<option value="<{$post_link}>"><{$smarty.const._MD_VIEW}>&nbsp;<{$smarty.const._MD_ALLPOSTS}></option>
		<option value="<{$newpost_link}>"><{$smarty.const._MD_VIEW}>&nbsp;<{$smarty.const._MD_NEWPOSTS}></option>
		<option value="<{$all_link}>"><{$smarty.const._MD_VIEW}>&nbsp;<{$smarty.const._MD_ALL}></option>
		<option value="<{$digest_link}>"><{$smarty.const._MD_VIEW}>&nbsp;<{$smarty.const._MD_DIGEST}></option>
		<option value="<{$unreplied_link}>"><{$smarty.const._MD_VIEW}>&nbsp;<{$smarty.const._MD_UNREPLIED}></option>
		<option value="<{$unread_link}>"><{$smarty.const._MD_VIEW}>&nbsp;<{$smarty.const._MD_UNREAD}></option>
	</select>
</div>
<div class="clear"></div>
</div>

<div class="outer">
<table width="100%">
<tr class="head" align="<{$smarty.const._GLOBAL_LEFT}>">
	      <td style="width: 5%;" colspan="2">
	      <{if $mode gt 1}>
			<{$smarty.const._ALL}>: <input type="checkbox" name="topic_check" id="topic_check" value="1" onclick="xoopsCheckAll('form_topics_admin', 'topic_check');" /> 
	      <{else}>
	      &nbsp;
	      <{/if}>
	      </td>
		<td>&nbsp;<strong><a href="<{$h_topic_link}>"><{$smarty.const._MD_TOPICS}></a></strong></td>
		<td style="width: 15%; text-align: center;" class="nowrap"><strong><a href="<{$h_forum_link}>"><{$smarty.const._MD_FORUM}></a></strong></td>
		<td style="width: 5%; text-align: center;" class="nowrap"><strong><a href="<{$h_reply_link}>"><{$smarty.const._MD_REPLIES}></a></strong></td>
		<td style="width: 10%; text-align: center;" class="nowrap"><strong><a href="<{$h_poster_link}>"><{$smarty.const._MD_POSTER}></a></strong></td>
		<td style="width: 5%; text-align: center;" class="nowrap"><strong><a href="<{$h_views_link}>"><{$smarty.const._MD_VIEWS}></a></strong></td>
		<td style="width: 15%; text-align: center;" class="nowrap"><strong><a href="<{$h_date_link}>"><{$smarty.const._MD_DATE}></a></strong></td>
	</tr>

  <!-- start forum topic -->
<{foreach name=loop item=topic from=$topics}>
  <tr class="<{cycle values="even,odd"}>">
    <td style="width: 4%; text-align: center;">
	      <{if $mode gt 1}>
			<input type="checkbox" name="topic_id[]" id="topic_id[<{$topic.topic_id}>]" value="<{$topic.topic_id}>" />
	      <{else}>
			<{$topic.topic_folder}>
	      <{/if}>
    </td>
    <td style="width: 4%; text-align: center;"><{$topic.topic_icon}></td>
    <td><a href="<{$topic.topic_link}>">
		<{if $topic.allow_prefix AND $topic.topic_subject}>
		<{$topic.topic_subject}>
		<{/if}>
		<{$topic.topic_title}></a><{$topic.attachment}> <{$topic.topic_page_jump}>
	</td>
    <td style="text-align: center;" valign="middle"><{$topic.topic_forum_link}></td>
    <td style="text-align: center;" valign="middle"><{$topic.topic_replies}></td>
    <td style="text-align: center;" valign="middle"><{$topic.topic_poster}></td>
    <td style="text-align: center;" valign="middle"><{$topic.topic_views}></td>
    <td valign="middle"><{$topic.topic_last_posttime}><br />
		<{$smarty.const._MD_BY}> <{$topic.topic_last_poster}>
	</td>
  </tr>
<{/foreach}>
  <!-- end forum topic -->
	
	<{if $mode gt 1}>
	</form>
	<{/if}>

  <tr class="foot">
	<td colspan="8" style="text-align: center;">
		<{strip}>
			<form method="get" action="viewall.php"><div>
				<a class="sortme" href="#"><{$smarty.const._MD_SORTEDBY}></a><br />
				<div class="sortme" style="display: none">
				<{$forum_selection_sort}><br />
				<{$forum_selection_order}><br />
				<{$forum_selection_since}><br />
				<input type="hidden" name="forum" value="<{$forum_id}>" />
				<input type="hidden" name="type" value="<{$type}>" />
				<input type="submit" name="refresh" value="<{$smarty.const._MD_GO}>" />
				</div>
				<script>
				$("a.sortme").click(function () {
				$("div.sortme").toggle("slow");
				});    
				</script>
			</form>
		<{/strip}>

	</td>
  </tr>
</table>
</div>
<!-- end forum main table -->

<{if $forum_pagenav}>
<div style="float: <{$smarty.const._GLOBAL_RIGHT}>; text-align: <{$smarty.const._GLOBAL_RIGHT}>; padding: 5px;"><{$forum_pagenav}></div>
<{/if}>
<div class="clear"></div>

<div>
<div style="float: <{$smarty.const._GLOBAL_LEFT}>; text-align: <{$smarty.const._GLOBAL_LEFT}>;">
	<{$img_newposts}> = <{$smarty.const._MD_NEWPOSTS}> (<{$img_hotnewposts}> = <{$smarty.const._MD_MORETHAN}>) <br />
	<{$img_folder}> = <{$smarty.const._MD_NONEWPOSTS}> (<{$img_hotfolder}> = <{$smarty.const._MD_MORETHAN2}>) <br />
	<{$img_locked}> = <{$smarty.const._MD_TOPICLOCKED}> <br />
	<{$img_sticky}> = <{$smarty.const._MD_TOPICSTICKY}> <br />
	<{$img_digest}> = <{$smarty.const._MD_TOPICDIGEST}> <br />
	<{$img_poll}> = <{$smarty.const._MD_TOPICHASPOLL}>
</div>
<div style="float: <{$smarty.const._GLOBAL_RIGHT}>; text-align: <{$smarty.const._GLOBAL_RIGHT}>;">
<form action="search.php" method="get"><div>
<input name="term" id="term" type="text" size="15" />
<input type="hidden" name="forum" id="forum" value="<{$forum_id}>" />
<input type="hidden" name="sortby" id="sortby" value="p.post_time desc" />
<input type="hidden" name="since" id="since" value="<{$forum_since}>" />
<input type="hidden" name="action" id="action" value="yes" />
<input type="hidden" name="searchin" id="searchin" value="both" />
<input type="submit" class="formButton" value="<{$smarty.const._MD_SEARCH}>" /><br />
[<a href="<{$icms_url}>/modules/<{$icms_dirname}>/search.php"><{$smarty.const._MD_ADVSEARCH}></a>]</div>
</form><br />
<{$forum_jumpbox}>
</div>
</div>
<div class="clear"></div>
<br />

<{if $online}><{include file="db:iforum_online.html"}><{/if}>
<{include file='db:system_notification_select.html'}>
<!-- end module contents -->
