<div class="outer">

<a id="forumpost<{$topic_post.post_id}>"></a>

<div class="odd" style="padding:5px;">
<span style="float: <{$smarty.const._GLOBAL_LEFT}>; text-align: <{$smarty.const._GLOBAL_LEFT}>;">
<{$topic_post.poster.link}> | 
<{$smarty.const._MD_POSTEDON}> <{$topic_post.post_date}>
</span>

<span style="float: <{$smarty.const._GLOBAL_RIGHT}>; text-align: <{$smarty.const._GLOBAL_RIGHT}>;">
<{if $topic_post.poster_ip}>
IP: <a href="http://www.whois.sc/<{$topic_post.poster_ip}>" target="_blank"><{$topic_post.poster_ip}></a> | 
<{/if}> 
<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/viewtopic.php?post_id=<{$topic_post.post_id}>#forumpost<{$topic_post.post_id}>">#<{$topic_post.post_no}></a> 
</span>
<div class="clear"></div>
</div>

<div class="clear"></div>

<div class="even" style="padding:5px;"><{$topic_post.post_text}></div>
<{if $topic_post.post_attachment}>
<div class="odd" style="padding:5px;"><{$topic_post.post_attachment}>
</div>
<{/if}>

<div class="foot" align="<{$smarty.const._GLOBAL_RIGHT}>">
<{foreach item=btn from=$topic_post.thread_buttons}> <a href="<{$btn.link}>&amp;post_id=<{$topic_post.post_id}>" title="<{$btn.name}>"> <{$btn.image}></a> <{/foreach}>
<a href="#threadtop" title="<{$smarty.const._MD_UP}>"> <{$p_up}></a>
</div>

</div>