<table border="0" cellpadding="4" cellspacing="1" width="100%">
<tr class="even" align="left">
<td align="left" nowrap="nowrap" colspan="2"><strong><{$smarty.const._MD_USERS_ONLINE}><{$online.num_total}>  <{$smarty.const._MD_BROWSING_FORUM}></strong></td></tr>
<tr class="odd" align="left">
<td align="center"><{$online.image}></td>
<td width="100%">
 [ <span style="color:<{$color_admin}>"><{$smarty.const._MD_ADMINISTRATOR}></span> ] [ <span  style="color:<{$color_mod}>"><{$smarty.const._MD_MODERATOR}></span> ]
<br /><{$online.num_anonymous}> <{$smarty.const._MD_ANONYMOUS_USERS}>
<{if $online.num_user}>
<br /><{$online.num_user}> <{$smarty.const._MD_REGISTERED_USERS}>
<{foreach item=user from=$online.users}>
	<a href="<{$user.link}>">
		<{if $user.color}>
		<span style="color:<{$user.color}>"><{$user.uname}></span>
		<{else}>
		<{$user.uname}>
		<{/if}>
	</a>
<{/foreach}>
<{/if}>
</td></tr></table>
