<!-- start module contents -->

<table border="0" width="100%" cellpadding="5" align="center">
  <tr>
    <td align="left"><{$folder_topic}> <a href="<{$xoops_url}>/modules/newbb/index.php"><{$lang_forum_index}></a><br />
<{if $parent_forum}>&nbsp;&nbsp;<{$folder_topic}> <a href="<{$xoops_url}>/modules/newbb/viewforum.php?forum=<{$parent_forum}>"><{$parent_name}></a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<{$folder_topic}> <a href="<{$xoops_url}>/modules/newbb/viewforum.php?forum=<{$forum_id}>"><{$forum_name}></a> <br />
&nbsp;&nbsp; <{$post_content}> <strong><{$topic_title}></strong></td>
<{else}> &nbsp;&nbsp;<{$folder_topic}> <a href="<{$xoops_url}>/modules/newbb/viewforum.php?forum=<{$forum_id}>"><{$forum_name}></a> <br />
&nbsp;<{$post_content}> <strong>&nbsp;<{$topic_title}></strong>
    </td>
    <{/if}> </tr>
</table>

<{if $online}>
<br />
<div align="left">
<{$smarty.const._MD_BROWSING}>&nbsp;
<{foreach item=user from=$online.users}>
	<a href="<{$user.link}>">
		<{if $user.color}>
		<span style="color:<{$user.color}>"><{$user.uname}></span>
		<{else}>
		<{$user.uname}>
		<{/if}>
	</a>&nbsp;
<{/foreach}>
<{if $online.num_anonymous}>
&nbsp;<{$online.num_anonymous}> <{$smarty.const._MD_ANONYMOUS_USERS}>
<{/if}>
</div>
<{/if}>

<{if $topic_poll}> <{if $topic_pollresult}> <{include file="db:newbb_poll_results.html poll=$poll}> <{else}> <{include file="db:newbb_poll_view.html" poll=$poll}> <{/if}> <{/if}>
<table cellspacing="0" width="100%">
  <tr>
    <td align="left"><br />
<{$forum_addpoll}><{$forum_reply}>&nbsp;<{$forum_post_or_register}></td>
  </tr>
</table>
<br />
<!-- start topic thread -->
<table cellpadding="6" cellspacing="0" border="0" width="100%" align="center" >
  <tr>
    <td width="80%" align="left"><a id="threadtop"></a><{$down2}>&nbsp;<a href="#threadbottom"> <{$smarty.const._MD_BOTTOM}></a>&nbsp;&nbsp;<{$left}>&nbsp;<a href="viewtopic.php?viewmode=threaded&amp;order=<{$order_current}>&amp;
topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>&amp;move=prev&amp;topic_time=<{$topic_time}>"> <{$smarty.const._MD_PREVTOPIC}></a>&nbsp;&nbsp;<{$right}>&nbsp; <a href="viewtopic.php?viewmode=threaded&amp;order=<{$order_current}>&amp;
topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>&amp;move=next&amp;topic_time=<{$topic_time}>"> <{$smarty.const._MD_NEXTTOPIC}></a></td>
<{if $forum_page_nav}>
    <td width="20%" align="right"><{$forum_page_nav}> </td>
<{/if}> </tr>
</table>
<table class="outer" cellpadding="6" cellspacing="0" border="0" width="100%" align="center"

style="border-bottom-width: 0px;">
  <tr>
         <th width="100%"> <div align="right">
              <ul class="newbb_level1">
                <li class="newbb_folder">
                  <div class="newbb_submenu"><strong><{$down}>&nbsp;<{$smarty.const._MD_TOPICOPTION}></strong></div>
                  <ul class="newbb_level2">
                    <table cellspacing="1" cellpadding="4" width="100%" border="0">
                      <tr>
                        <td class="head"><small><a class="newbb_link" href="<{$topic_print_link}>" target="_blank" ><{$printer}>&nbsp;<{$smarty.const._MD_PRINTTOPICS}></a></small></td>
                      </tr>
<{if $viewer_is_admin == true}>
                      <tr>
                        <th><{$smarty.const._MD_TOPICOPTIONADMIN}></th>
                      </tr>
<{foreach item=act from=$admin_actions}> <{$act}> <{/foreach}>
<{if count($adminpoll_actions)>0 }>
                      <tr>
                        <th><{$smarty.const._MD_POLLOPTIONADMIN}></th>
                      </tr>
<{foreach item=actpoll from=$adminpoll_actions}> <{$actpoll}> <{/foreach}> <{elseif $xoops_isuser == true && $xoops_userid == $topic_post.poster_uid}>
                      <tr>
                        <th><{$smarty.const._MD_POLLOPTIONADMIN}></th>
                      </tr>
<{foreach item=actpoll from=$adminpoll_actions}> <{$actpoll}> <{/foreach}>
<{/if}>
<{/if}>
                    </table>
                  </ul>
                </li>
              </ul>
            </div></th>
<{if $rating_enable}>
          <th width="100%"> <div align="right">
              <ul class="newbb_level1">
                <li class="newbb_folder">
                  <div class="newbb_submenu"><strong><{$down}>&nbsp;<{$smarty.const._MD_RATE}></strong></div>
                  <ul class="newbb_level2">
                    <form action="ratethread.php" method="post">
                      <table cellpadding="4" cellspacing="1" border="0" width="100%">
                        <tr>
                          <th><{$smarty.const._MD_RATEDESC}></th>
                        </tr>
                        <tr>
                          <td class="head" ><div><{$rate5}>
                              <label for="rate5"><small>
                              <input type="radio" name="rate" id="rate5" value="5" />
<{$smarty.const._MD_RATE5}></small></label>
                            </div>
                            <div><{$rate4}>
                              <label for="rate4"><small>
                              <input type="radio" name="rate" id="rate4" value="4" />
<{$smarty.const._MD_RATE4}></small></label>
                            </div>
                            <div><{$rate3}>
                              <label for="rate3"><small>
                              <input type="radio" name="rate" id="rate3" value="3" />
<{$smarty.const._MD_RATE3}></small></label>
                            </div>
                            <div><{$rate2}>
                              <label for="rate2"><small>
                              <input type="radio" name="rate" id="rate2" value="2" />
<{$smarty.const._MD_RATE2}></small></label>
                            </div>
                            <div><{$rate1}>
                              <label for="rate1"><small>
                              <input type="radio" name="rate" id="rate1" value="1" />
<{$smarty.const._MD_RATE1}></small></label>
                            </div></td>
                        </tr>
                        <tr>
                          <td class="head" align="center"><input type="hidden" name="topic_id" value="<{$topic_id}>" />
                            <input type="hidden" name="forum" value="<{$forum_id}>" />
                            <input type="submit" class="button" value="<{$smarty.const._MD_RATING}>" />
                          </td>
                        </tr>
                      </table>
                    </form>
                  </ul>
                </li>
              </ul>
            </div></th>
<{/if}>
          <th width="100%"> <div align="right">
              <ul class="newbb_level1">
                <li class="newbb_folder">
                  <div class="newbb_submenu"><strong><{$down}>&nbsp;<{$smarty.const._MD_FORUMSEARCH}></strong></div>
                  <ul class="newbb_level2">
                    <form action="search.php" method="get">
                      <table cellpadding="4" cellspacing="1" border="0" width="100%">
                        <tr>
                          <th><{$smarty.const._MD_FORUMSEARCH}></th>
                        </tr>
                        <tr>
                          <td class="head"><input name="term" type="text" size="15" />
                            <input type="hidden" name="forum" value="<{$forum_id}>" />
                            <input type="hidden" name="sortby" value="p.post_time desc" />
                            <input type="hidden" name="action" value="yes" />
                            <input type="hidden" name="searchboth" value="both" />
                            <input type="submit" class="formButton" value="<{$smarty.const._MD_GO}>" />
                          </td>
                        </tr>
                        <tr>
                          <td class="head"><a class="newbb_link"

href="<{$xoops_url}>/modules/newbb/search.php"><{$smarty.const._MD_ADVSEARCH}></a></td>
                        </tr>
                      </table>
                    </form>
                  </ul>
                </li>
              </ul>
            </div></th>
          <th width="100%"> <div align="right">
              <ul class="newbb_level1">
                <li class="newbb_folder">
                  <div class="newbb_submenu"><strong><{$down}>&nbsp;<{$smarty.const._MD_VIEWMODE}></strong></div>
                  <ul class="newbb_level2">
                    <table cellpadding="4" cellspacing="1" border="0" width="100%">
                      <tr>
                        <th><{$smarty.const._MD_VIEWMODE}></th>
                      </tr>
                      <tr>
                        <td class="head"><small><a class="newbb_link"

href="viewtopic.php?viewmode=flat&amp;order=<{$order_current}>&amp;topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>" /> <{$flat}>&nbsp;<{$smarty.const._FLAT}></a></small></td>
                      </tr>
                      <tr>
                        <td class="head" ><small><a class="newbb_link"

href="viewtopic.php?viewmode=thread&amp;order=<{$order_other}>&amp;topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>"

/><{$threaded}>&nbsp;<{$lang_order_other}></a></small></td>
                      </tr>
                    </table>
                  </ul>
                </li>
              </ul>
            </div></th>
       </tr>
</table>
<table class="outer" cellpadding="6" cellspacing="0" border="0" width="100%" align="center" style="border-bottom-width: 0px;">
  <tr align="left">
    <th width="20%"><strong><{$smarty.const._MD_POSTER}></strong></th>
<{if $rating_enable}> <{if $votes}>
    <th width="40%"><strong><{$smarty.const._MD_THREAD}></strong></th>
    <th width="40%" align="right"><strong><{$smarty.const._MD_RATED}></strong><{$rating_img}><strong> &nbsp;<{$votes}>&nbsp;<{$smarty.const._MD_VOTES}></strong> </th>
<{else}>
    <th width="80%"><strong><{$smarty.const._MD_THREAD}></strong></th>
<{/if}> <{else}>
    <th width="80%"><strong><{$smarty.const._MD_THREAD}></strong></th>
<{/if}> </tr>
</table>

<{foreach item=topic_post from=$topic_posts}> <{include file="db:newbb_thread.html" topic_post=$topic_post}> <{/foreach}>

<!-- start topic tree -->
<table class="outer" cellspacing="1" width="100%">
  <tr align="left">
    <th width="50%"><{$smarty.const._MD_SUBJECT}></th>
    <th width="20%"><{$smarty.const._MD_POSTER}></th>
    <th><{$smarty.const._MD_DATE}></th>
  </tr>
<{foreach item=topic_tree from=$topic_trees}>
  <tr class="<{cycle values="even,odd"}>">
    <td><{$topic_tree.post_prefix}> <{$topic_tree.post_image}> <{$topic_tree.post_title}></td>
    <td><{$topic_tree.poster}></td>
    <td><{$topic_tree.post_time}></td>
  </tr>
<{/foreach}>
</table>
<!-- end topic tree -->
<{if $forum_page_nav}>
<table cellspacing="1" class="outer">
  <tr class="foot" align="left">
    <td align="right"><{$forum_page_nav}> </td>
  </tr>
</table>
<{/if}>
<table cellpadding="6" cellspacing="0" border="0" width="100%" align="center" style="border-bottom-width: 0px;">
  <tr>
    <td width="80%" align="left"><a id="threadbottom"></a><{$up}>&nbsp;<a href="#threadtop"><{$smarty.const._MD_TOP}></a>&nbsp;&nbsp;<{$left}>&nbsp;<a href="viewtopic.php?viewmode=threaded&amp;order=<{$order_current}>&amp;topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>&amp;move=prev&amp;topic_time=<{$topic_time}>"><{$smarty.const._MD_PREVTOPIC}></a>&nbsp;&nbsp;<{$right}>&nbsp;<a href="viewtopic.php?viewmode=threaded&amp;order=<{$order_current}>&amp;topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>&amp;move=next&amp;topic_time=<{$topic_time}>"><{$smarty.const._MD_NEXTTOPIC}></a></td>
<{if $forum_page_nav}>
    <td width="20%" align="right"><{$forum_page_nav}> </td>
<{/if}> </tr>
</table>
<table cellpadding="4" width="100%">
  <tr>
    <td align="left"><br />
<{$forum_addpoll}><{$forum_reply}>&nbsp;<{$forum_post_or_register}></td>
    <td align="right"><br />
<{$rss_enable}></td>
  </tr>
</table>
<!-- end topic thread -->
<br />
<{if $quickreply.show}> <{if $display_stat}>
<table cellspacing="0" width="100%">
  <tr>
    <td align="left"><a href="#threadbottom" onclick="ToggleBlock('quick_reply', this)" ><{$display_icon}></a> </td>
  </tr>
</table>
<div id="quick_reply" style="display: <{$display}>">
  <table>
    <tr>
      <td><{$quickreply.form}> </td>
    </tr>
  </table>
  <br />
</div>
<{/if}> <{/if}>
<table cellspacing="0" width="100%">
  <tr>
    <td align="left"><{$permission_table}></td>
    <td align="right"><{$forum_jumpbox}> </td>
  </tr>
</table>
<{include file='db:system_notification_select.html'}>
<!-- end module contents -->