<!-- start module contents -->

<table border="0" cellpadding="5" align="center">
  <tr>
    <td colspan="2" align="left"><{$img_folder}>&nbsp;&nbsp;<a href="<{$xoops_url}>/modules/newbb/index.php"><{$forumindex}></a><br />
		&nbsp;&nbsp;&nbsp;<{$img_folder}>&nbsp;&nbsp;<a href="search.php"><{$smarty.const._MD_SEARCH}></a></td>
  </tr>
</table>
<{if $results}><{include file='db:newbb_searchresults.html' results=$results}>
<{/if}>
<form name="Search" action="search.php" method="get">
  <table class="outer" border="0" cellpadding="1" cellspacing="0" align="center" width="95%">
    <tr>
      <td><table border="0" cellpadding="1" cellspacing="1" width="100%" class="head">
          <tr>
            <td class="head" width="10%" align="right"><strong><{$smarty.const._MD_KEYWORDS}></strong>&nbsp;</td>
            <td class="even"><input type="text" name="term" /></td>
          </tr>
          <tr>
            <td class="head">&nbsp;</td>
            <td class="even"><input type="radio" name="andor" value="any" checked="checked" /><{$smarty.const._MD_SEARCHANY}></td>
          </tr>
          <tr>
            <td class="head">&nbsp;</td>
            <td class="even"><input type="radio" name="andor" value="all" /><{$smarty.const._MD_SEARCHALL}></td>
          </tr>
          <tr>
            <td class="head" align="right"><strong><{$smarty.const._MD_FORUMC}></strong>&nbsp;</td>
            <td class="even"><{$forum_selection_box}></td>
          </tr>
          <tr>
            <td class="head" align="right"><strong><{$smarty.const._MD_AUTHOR}></strong>&nbsp;</td>
            <td class="even"><input type="text" name="uname" /></td>
          </tr>
          <tr>
            <td class="head" align="right"><strong><{$smarty.const._MD_SORTBY}></strong>&nbsp;</td>
            <td class="even"><input type="radio" name="sortby" value="p.post_time desc" checked="checked" /><{$smarty.const._MD_DATE}>&nbsp;&nbsp;
              <input type="radio" name="sortby" value="t.topic_title" /><{$smarty.const._MD_TOPIC}>&nbsp;&nbsp;
              <input type="radio" name="sortby" value="f.forum_name" /><{$smarty.const._MD_FORUM}>&nbsp;&nbsp;
              <input type="radio" name="sortby" value="u.uname" /><{$smarty.const._MD_USERNAME}>&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td class="head" align="right"><strong><{$smarty.const._MD_SEARCHIN}></strong>&nbsp;</td>
            <td class="even"><input type="radio" name="searchin" value="title" /><{$smarty.const._MD_SUBJECT}>&nbsp;&nbsp;
              <input type="radio" name="searchin" value="text" /><{$smarty.const._MD_BODY}>&nbsp;&nbsp;
              <input type="radio" name="searchin" value="both" checked="checked" /><{$smarty.const._MD_SUBJECT}> & <{$smarty.const._MD_BODY}>&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td class="head" align="right">&nbsp;</td>
            <td class="even"><input type="submit" name="submit" value="<{$smarty.const._MD_SEARCH}>" /></td>
        </table></td>
    </tr>
  </table>
</form>
<!-- end module contents -->